<ion-content padding class="background-home ">
  <div class="control"></div><br>
  <h1>More Settings</h1>
  <br>
  
  <div class="row" >
    <div class="col col-2">
      <span style="float: left;opacity: 0.5;">Modes</span>
    </div>
    <div class="col col-2">
      <span style="float: right;opacity: 0.5;">Aromas</span>
    </div>  
  </div>
  <div class="row">
    <div class="col col-2">
      <div class="model-circleheat"><img class="manu-top" 
        src="./assets/imgs/sun.svg" 
        style="float:center; "></div>
      <div style="text-align: center; color: #ff3e62">Heat</div>
    </div>
    <div class="col col-2">
      <div class="model-circle"><img class="manu-top" 
        src="./assets/imgs/snowflake.svg" 
        style="float:center; "></div>
      <div style="text-align: center">Cool</div>
    </div>
    <div class="col col-2">
  
    </div>
    <div class="col col-2">
      <div class="model-circle"><img class="manu-top" 
        src="./assets/imgs/cherry.svg" 
        style="float:center; "></div>
      <div style="text-align: center">Cherry</div>
      
    </div>
    <div class="col col-2">
      <div class="model-ice"><img class="manu-top" 
        src="./assets/imgs/icee.svg" 
        style="float:center; "></div>
      <div style="text-align: center;color: #00ccff">Ice</div>
      
    </div>
  </div>
  
    <div class="row">
      <div class="col col-2">
        <div class="model-circle"><img class="manu-top" 
          src="./assets/imgs/sea-waves.svg" 
          style="float:center; "></div>
        <div style="text-align: center;">Wet</div>
      </div>
      <div class="col col-2">
        <div class="model-circle"><img class="manu-top" 
          src="./assets/imgs/snow.svg" 
          style="float:center; "></div>
        <div style="text-align: center">Dry</div>
      </div>
      <div class="col col-2">
    
      </div>
      <div class="col col-2">
        <div class="model-circle"><img class="manu-top" 
          src="./assets/imgs/grape.svg" 
          style="float:center; "></div>
        <div style="text-align: center">Graph</div>
        
      </div>
      <div class="col col-2">
        <div class="model-circle"><img class="manu-top" 
          src="./assets/imgs/white.svg" 
          style="float:center; "></div>
        <div style="text-align: center">Lime</div>
      </div>
    </div>
    <br><br><br>
    <span style="float: left;opacity: 0.5;">Temperature</span>
    <br><br><br>
    <div style="text-align: center;">
        <span style="font-size:120px;">19</span>
        <span style="font-size:28px;">temp</span>

    </div>
    
</ion-content>
      