page-about {
    .background-home {
        background: #1a0a3a;
        color: #ffffff;
        position: relative;
    }
    
    .icon-active {
        height: 40px;
        width: 40px;
        background: #ff3e62;
        padding-left: 5px;
        padding-top: 5px;
        border-radius: 50%;
        position: relative;
    }

    .icon-deactive-Cool {
        height: 40px;
        width: 40px;
        padding-left: 5px;
        padding-top: 5px;
        position: relative;
    }

    .icon-active-img {
        height: 40px;
        width: 40px;
        background: #6285c6;
        padding-left: 5px;
        padding-top: 5px;
        border-radius: 50%;
        position: relative;
    }
    
    .icon-deactive-wave {
        height: 40px;
        width: 40px;
        padding-top: 5px;
        padding-left: 5px;
    }

    .icon-deactive-spiral {
        height: 40px;
        width: 40px;
        padding-left: 5px;
        padding-top: 5px;
        position: relative;
    }

    .icon-deactive-img {//Cherry,Grape,Lime
        height: 40px;
        width: 40px;
        padding-top: 5px;
        padding-left: 5px;
    }

    * ::-webkit-scrollbar {
        display: none;
    }
    .control {
        padding-top: 5%;
        padding-left: 3%;
    }
    .scroll-content {
        overflow: hidden;
    }
    .info-temp {
        text-align: center;
        padding-top: 5%;
    }
    .padding-text-col {
        padding-top: 5px;
        font-size: 12px;
        text-align: center;
        padding-right: 30%;
    }
}