<!--
  Generated template for the CalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="wow">
    <ion-title>Income-Expense</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <div class="wrap">
      <div class="content">
        <br/>

          <ion-row>
            <ion-col>
                <label for="number" >Income</label>
            </ion-col>

            <ion-col>
                <input type="number"  [(ngModel)]="Income">
            </ion-col>
     
          </ion-row>

          <ion-row>
            <ion-col>
                <label for="number" >Expense</label>
            </ion-col>
          
            <ion-col>
                <input type="number"  [(ngModel)]="Expense">
            </ion-col>

          </ion-row>

          <ion-row>
              <ion-col>
                  <button class="" round  (click)="cal()"><ion-icon  ></ion-icon>Calculator</button>
              </ion-col>
          </ion-row>
          <ion-label>{{this.Cals}}</ion-label>

      </div>
  </div>
   
</ion-content>