<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="wow">
    </ion-navbar>
  </ion-header>

<ion-content padding class = "bg">
  <div><img class="p" style="left:25%" src="./assets/imgs/58364654-Motion.svg" width="300px" height="250px"></div> 
  <br/>
  <button ion-button color="vv" class="center jello" round (click)="calculator()" style="left:25%">Income - Expense</button>
  <br/>
  <br/>
  <br/>
  <br/>
</ion-content>
