page-menu {

    .full{
        background-color:#EFF4F4;
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 200%;
        font-family: "Segoe UI", Times, serif;

    }
    .bg{
        background-image: linear-gradient(to top, #eff4f4, #9fb9c2, #5c7e98, #2f446d, #1a0a3a);
    }
    .wrap{ 
        width: 50%;

    }
    .btns{
        margin-left: auto;
        margin-right: auto;
    }
    .p{
        padding-left: 20%;
    }
}
